# Base packages
cachetools
python-dotenv
fastapi
uvicorn[standard]
pydantic[email]

# Azure SDK Core
azure-core
requests
types-requests
aiohttp

# Azure Services
azure-identity
azure-search-documents
azure-ai-agents
azure-ai-inference
azure-ai-projects
azure-cosmos

# Additional utilities
agent-framework
openai
pyodbc
pandas

opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-exporter-otlp-proto-grpc
azure-monitor-events-extension==0.1.0
opentelemetry-sdk==1.37.0
opentelemetry-api==1.37.0
opentelemetry-semantic-conventions==0.58b0
opentelemetry-instrumentation==0.58b0
azure-monitor-opentelemetry==1.8.1

# Development tools
pytest==8.3.5
pytest-cov==6.1.1
pytest-asyncio==0.26.0
